Source: mmc-build-system
Section: misc
Priority: extra
Maintainer: Michal Maruska <mmaruska@gmail.com>
Build-Depends: debhelper (>= 5), libapt-pkg-perl
Standards-Version: 3.7.2

Package: mmc-build-system
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, git-buildpackage, zsh, mmc-shell (>>2.8),libapt-pkg-perl
Conflicts: mmc-shell (=2.8)
Description: collection of shell scripts
